@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.container {
            display: flex;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap; /* باعث میشه کارت‌ها توی عرض کم، برن زیر هم */
        }
@media (max-width: 650px) {
            .container {
                flex-direction: column; /* کارت‌ها زیر هم قرار بگیرن */
                align-items: center;
            }
        }

.color-box {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #999;
    display: inline-block;
}
body {
    background-color: #f8f7f9;
}



