{% extends "shopping/base.html" %}
{% block content %}
<ul>
    {% for pro in order %}
    <li>
        {% if pro.color == "red" %}
        <img src="{{pro.product.picture_red.url}}" alt="img" , style="width: 10rem;">
        {% elif pro.color == "green"  %}
        <img src="{{pro.product.picture_green.url}}" alt="img" , style="width: 10rem;">
        {% elif pro.color == "blue" %}
        <img src="{{pro.product.picture_blue.url}}" alt="img" , style="width: 10rem;">
        {% elif pro.color == "brown" %}
        <img src="{{pro.product.picture_brown.url}}" alt="img" , style="width: 10rem;">
        {% elif pro.color == "black" %}
        <img src="{{pro.product.picture_black.url}}" alt="img" , style="width: 10rem;">
        {% elif pro.color == "white" %}
        <img src="{{pro.product.picture_white.url}}" alt="img" , style="width: 10rem;">
        {% elif pro.color == "silver" %}
        <img src="{{pro.product.picture_silver.url}}" alt="img" , style="width: 10rem;">
        {% endif %}
        <p>{{pro.product.name}}</p>
        <p>price : {{pro.product.price}}</p>
        <p>count : {{pro.count_history}}</p>
        <p>recieve code : {{pro.recieve_code}}</p>
        <p>date add : {{pro.date_added}}</p>
        <p>send date : {{pro.date_deleted}}</p>
        {% for ac in acount %}
        {% if ac.user == pro.user %}
        <p>user name : {{ac.name}}</p>
        <p>number phone 1 :{{ac.number_phone1}}</p>
        <p>number phone 2 :{{ac.number_phone2}}</p>
        <p>post code : {{ac.post_code}}</p>
        <p>addres : {{ac.addres}}</p>
        {% endif %}
        {% endfor %}
    </li>
    {% empty %}
    <p>nothing</p>
    {% endfor %}
</ul>
{% endblock content %}