{% extends "shopping/base.html" %}
{% block content %}
<ul>
    {% for ord in order %}
    <li>
        <img src="{{ord.product.picture.url}}" alt="img" style="width: 10rem;">
        <p>{{ord.product.name}}</p>
        <p>{{ord.product.price}}</p>
        <p>{{ord.count}}</p>
        <p><a href="{% url 'shopping:product_describe' ord.product.id %}">descibe and Buy</a></p>
    </li>
    {% empty %}
    <p>nothing</p>
    {% endfor %}
</ul>
<p><a href="{% url 'users:profill' %}">Buy</a></p>
{% endblock content %}