{% extends "shopping/base.html" %}
{% block content %}
<ul>
    {% for ord in order %}
    <li>
        {% if ord.color == "red" %}
        <img src="{{ord.product.picture_red.url}}" alt="img" , style="width: 10rem;">
        {% elif ord.color == "green"  %}
        <img src="{{ord.product.picture_green.url}}" alt="img" , style="width: 10rem;">
        {% elif ord.color == "blue" %}
        <img src="{{ord.product.picture_blue.url}}" alt="img" , style="width: 10rem;">
        {% elif ord.color == "brown" %}
        <img src="{{ord.product.picture_brown.url}}" alt="img" , style="width: 10rem;">
        {% elif ord.color == "black" %}
        <img src="{{ord.product.picture_black.url}}" alt="img" , style="width: 10rem;">
        {% elif ord.color == "white" %}
        <img src="{{ord.product.picture_white.url}}" alt="img" , style="width: 10rem;">
        {% elif ord.color == "silver" %}
        <img src="{{ord.product.picture_silver.url}}" alt="img" , style="width: 10rem;">
        {% endif %}
        <p>{{ord.product.name}}</p>
        <p>price : {{ord.product.price}}</p>
        <p>count : {{ord.count_history}}</p>
        <p>recieve code{{ord.recieve_code}}</p>
        {% if ord.shows == 3 %}
        <p><a href="{% url 'shopping:delete_user' ord.id %}">Delete</a></p>
        {% elif not ord.level3 %}
        <p>creating</p>
        {% else %}
        <p>Recieved</p>
        {% endif %}
    </li>
    {% empty %}
    <p>nothing</p>
    {% endfor %}
</ul>
{% endblock content %}