{% extends "shopping/base.html" %}
{% block content %}
{% load humanize %}
<ul>
    {% for ord in order %}
    <li>
        {% if ord.color == "red" %}
        <img src="{{ord.product.picture_red.url}}" alt="img" , style="width: 10rem;">
        {% elif ord.color == "green"  %}
        <img src="{{ord.product.picture_green.url}}" alt="img" , style="width: 10rem;">
        {% elif ord.color == "blue" %}
        <img src="{{ord.product.picture_blue.url}}" alt="img" , style="width: 10rem;">
        {% elif ord.color == "brown" %}
        <img src="{{ord.product.picture_brown.url}}" alt="img" , style="width: 10rem;">
        {% elif ord.color == "black" %}
        <img src="{{ord.product.picture_black.url}}" alt="img" , style="width: 10rem;">
        {% elif ord.color == "white" %}
        <img src="{{ord.product.picture_white.url}}" alt="img" , style="width: 10rem;">
        {% elif ord.color == "silver" %}
        <img src="{{ord.product.picture_silver.url}}" alt="img" , style="width: 10rem;">
        {% endif %}
        <p>{{ord.product.name}}</p>
        <p>price :{{ord.product.price|intcomma}}</p>
        <p>count : {{ord.count}}</p>
        <p><a href="{% url 'shopping:product_describe' ord.product.id %}">descibe and Buy</a></p>
    </li>
    {% empty %}
    <p>nothing</p>
    {% endfor %}
</ul>
<p>Total price : {{totall_price|intcomma}}</p>
<p><a href="{% url 'users:profill' totall_price %}">Buy</a></p>
{% endblock content %}