{% extends "shopping/base.html" %}
{% block content %}
<ul>
    {% for pro in order %}
    <li>
        {% if pro.color == "red" %}
        <img src="{{pro.product.picture_red.url}}" alt="img" , style="width: 10rem;">
        {% elif pro.color == "green"  %}
        <img src="{{pro.product.picture_green.url}}" alt="img" , style="width: 10rem;">
        {% elif pro.color == "blue" %}
        <img src="{{pro.product.picture_blue.url}}" alt="img" , style="width: 10rem;">
        {% elif pro.color == "brown" %}
        <img src="{{pro.product.picture_brown.url}}" alt="img" , style="width: 10rem;">
        {% elif pro.color == "black" %}
        <img src="{{pro.product.picture_black.url}}" alt="img" , style="width: 10rem;">
        {% elif pro.color == "white" %}
        <img src="{{pro.product.picture_white.url}}" alt="img" , style="width: 10rem;">
        {% elif pro.color == "silver" %}
        <img src="{{pro.product.picture_silver.url}}" alt="img" , style="width: 10rem;">
        {% endif %}
        <p>{{pro.date_deleted}}</p>
        <p>{{pro.product.name}}</p>
        <p>{{pro.product.price}}</p>
        <p>{{pro.count_history}}</p>
        <p>{{pro.recieve_code}}</p>
    </li>
    {% empty %}
    <p>nothing</p>
    {% endfor %}
</ul>
{% endblock content %}