{% extends "shopping/base.html" %}
{% block content %}
<p>
    wellcome
</p>
<ul>
    {% for pro in product %}
    <li>
        <img src="{{pro.picture_brown.url}}" alt="img" , style="width: 10rem;">
        <p>{{pro.name}}</p>
        <p>{{pro.price}}</p>
        <p>like : {{pro.likes.count}}</p>
        {% if user.is_authenticated %}
        <form action="{% url 'shopping:like_post' pro.id %}" method="post">
            {% csrf_token %}
            <button type="submit">
                <p>Like</p>
            </button>
        </form>
        {% endif %}
        <p><a href="{% url 'shopping:comments' pro.id %}">comments</a></p>
        {% if user.is_authenticated %}
        <p><a href="{% url 'shopping:product_describe' pro.id %}">descibe and Buy</a></p>
        {% else %}
        <p><a href="{% url 'users:login' %}">descibe and Buy</a></p>
        {% endif %}
    </li>
    {% empty %}
    <li>nothing</li>
    {% endfor %}
</ul>
{% endblock content %}